<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <div class=container>
        <nav>
            <a href="/shop/new" id='new'>Add more tea!</a>
        </nav>
        <h1>Tea Menu</h1>
        <ul>
            <%teas.forEach(teas => { %>
            <div class="card">
                <div class=image>
                    <a href="/shop/<%=teas._id; %>"><img src="<%=teas.img  %> "></a>
                </div>
                <div class="info">
                    <p> <%=teas.name; %> </p>
                    <p><%=teas.description  %></p>
                    <p>$<%=teas.price  %> per pound</p>
                    <p><%=teas.qty  %> lbs</p> <br>
                </div>
            </div>

            <% }) %>
    </div>
</body>

</html>