<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("./partials/head.ejs") %>
</head>

<body>
	<div class="container">
	<nav>
		<a href="/shop">Back to Tea Index</a>
	</nav>
	<h1 id="showh1"><%=tea.name %></h1>
	<div class="card">
		<img src="<%=tea.img%>" alt=""> <br>
		Description: <%= tea.description%>
		<br />
		Price: $<%= tea.price%> <br>
		Qty: <%= tea.qty%> lbs<br>
		<a href="/shop/<%=tea._id%>/edit" id='edit'>EDIT</a>
		<form action="/shop/<%= tea._id %>?_method=Delete " method="POST" style="display: inline; margin-left: 16px;">
			<input type="submit" value="DELETE" />
		</form> <br> <br>
		<% if(tea.qty > 0){ %> 
		<input type="submit" value="Buy"> 
		   <% } else { %> 
			<input type="submit" value="Out of stock">  
			   <% } %>
	</div>
</div>
</body>

</html>